.mail-to-schedule-popup {
    background-color: #fff;
    border: 1px solid #c9c9c9;
    padding: 5px 5px 3px 5px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-radius: 5px;
    position: absolute;
    z-index: 1500;
    top: 40px;
    left: 0;
}

.mail-to-schedule {
    position: relative;
}