.mail-to-schedule-popup {
    background-color: #fff;
    border: 1px solid #c9c9c9;
    padding: 5px 5px 3px 5px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-radius: 5px;
    position: absolute;
    z-index: 1500;
    top: 40px;
    left: 0;
    width: 450px;
}

.mail-to-schedule-button {
    border: none;
    background-color: inherit;
    color: #0a62ad;
    padding: 0;
    height: inherit;
    line-height: inherit;
    font-size: inherit;
}

.mail-to-schedule {
    position: relative;
    display: inline-block;
}

.mail-to-schedule-popup-header {
    position: relative;
}

.mail-to-schedule-popup-header-title {
    padding: 0;
    margin: 0;
    text-align: center;
}

.mail-to-schedule-popup-close-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

.mail-to-schedule-popup-row {
    display: flex;
    align-items: center;
    padding: 6px;
}

.mail-to-schedule-popup-row-title {
    width: 60px;
}

.mail-to-schedule-popup-row-content {
    flex: 1;
}
